.root {
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 24px 0px;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  transform: translate3d(0px, 0px, 0px);
  touch-action: auto;
  margin-bottom: 15px;
  display: none;
  position: absolute;
  margin: auto;
  bottom: inherit;
  right: 0;
}
.open {
  display: flex;
  animation: customTransition 250ms ease-in-out both;
}
.close {
  display: none;
}

@keyframes customTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}